<!DOCTYPE html>
<html lang="en" data-theme="dim">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.20/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include './components/header.html' %} 

    <div class="flex justify-center items-center h-screen bg-base-200 ">

      {% block content %} 

      {% endblock %}

    </div>


    {% include './components/footer.html' %} 
    
  </body>
</html>
