{% extends 'base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<div class="w-9/12 ">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th class="w-2/12">User</th> <!-- Roughly 8/12 columns -->
              <th class="w-6/12">Message</th> <!-- Roughly 2/12 columns -->
              <th class="w-2/12">Created At</th>
              <th class="w-3/12">Operation</th> <!-- 1/12 columns -->
            </tr>
          </thead>
          <tbody>
            {% for message in messages %}
              <tr class="bg-base-200 hover:bg-gray-600 cursor-pointer hover:text-white">

                <td class="w-2/12">{{ message.user.username }}</td>
                <td class="w-6/12">
                  <div class="line-clamp-2">
                  {{ message.text }}
                  </div>                
                </td>
                <td class="w-2/12">{{ message.created_at|date:"Y-m-d H:i" }}</td>
                <td class="w-3/12 flex space-x-2">
                  {% if message.user == request.user or request.user.is_superuser %}
                  <label for="edit_modal_{{ message.id }}" class="btn btn-square btn-outline" onclick="edit_modal_{{ message.id }}.showModal()">
                    <svg
                      xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M12 15l8.385 -8.415a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3z"
                    />
                    <path d="M16 5l3 3" />
                    <path d="M9 7.07a7 7 0 0 0 1 13.93a7 7 0 0 0 6.929 -6" />
                  </svg>
                  </label>
                  <!-- Modal for editing message -->
                  <input type="checkbox" id="edit_modal_{{ message.id }}" class="modal-toggle" />
                  <div class="modal" role="dialog">
                    <div class="modal-box">
                      <form method="post" action="{% url 'edit_message' message.id %}">
                        {% csrf_token %}
                        <h3 class="text-lg font-bold mb-6">Edit Message!</h3>
                        <div class="flex flex-col space-y-4">
                          <textarea
                            name="edited_message"
                            class="textarea textarea-bordered textarea-lg"
                          >{{ message.text }}</textarea>
                          <button class="btn">Edit via {{ request.user.username }}</button>
                        </div>
                      </form>
                    </div>
                    <label class="modal-backdrop" for="edit_modal_{{ message.id }}">Close</label>
                  </div>

                  <!-- Edit button that opens the modal -->
  
                  <!-- Delete button -->
                  <form action="{% url 'delete_message' message.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-square btn-outline hover:bg-red-500">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </button>
                </form>
                {% else %}
                    <!-- Do not show buttons if the message was sent by another user -->
                    <div class="btn btn-square btn-outline hover:bg-red-500 invisible">-</div>
                {% endif %}
                
                </td>
              </tr>
              {% empty %}
                <tr>
                    <td colspan="3">No messages found.</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
</div>

{% endblock %}
