{% extends 'base.html' %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="flex flex-col justify-center items-center space-y-8">
    <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Error! Task failed successfully.</span>
      </div>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" class="input input-bordered w-full max-w-xs" />
    <input type="password" name="password" placeholder="Password" class="input input-bordered w-full max-w-xs" />
    <button class="btn w-full btn-primary text-white" type="submit">Login</button>
</form>


{% endblock %}
